.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-container {
  display: flex;
  min-height: 30px;

  input {
    padding: 5px;
  }
}

.name-field {
  flex-grow: 0.5;
  margin-right: 10px;
}

.message-field {
  flex-grow: 4;
  margin-right: 10px;
}

.submit-button {
  flex-grow: 0.5;
  -webkit-appearance: button;
}

.chat-log {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 15px 0;
  overflow-y: scroll;
  flex-grow: 1;
  div {
    padding: 5px;
  }
}

.edit-mode {
  background-color: #1d1638;
}

.load-history {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center
}

.response {
  background-color: #222;
  padding: 10px;
}

.edit-count {
  float: right;
}
